PORT=9000
MONGO_URI=mongodb://127.0.0.1:27017/Vihaan9
JWT_SECRET=newtestSecretKey
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4000,http://localhost:9000,https://hoppscotch.io
ADMIN_CREATION_KEY=superSecretAdminKeytesting